---
layout: default
title: Обшивки
---
<h1>Обшивки на покриви</h1>
 
<h2>1. Калкани </h2>
<p>
{% include image.html imagesrc="kal1.jpg"%} 

</p> 
<table>
	<tr>
		<th>Цвят на калкана</th>
		<th>Цена на метър </th>
	</tr>
	<tr>
		<td>...</td>
		<td>...</td>
	</tr>
	<tr>
		<td>...</td>
		<td>...</td>
	</tr>
</table> 
<h2>2. Поли </h2>
{% include image.html imagesrc="poli.png"%}
<table>
	<tr>
		<th>Цвят на полата</th>
		<th>Цена на метър </th>
	</tr>
	<tr>
		<td>...</td>
		<td>...</td>
	</tr>
	<tr>
		<td>...</td>
		<td>...</td>
	</tr>
</table> 
<h2>3. Надолучна пола </h2>
{% include image.html imagesrc="nad.jpg"%}
<table>
	<tr>
		<th>Цвят на полата</th>
		<th>Цена на метър </th>
	</tr>
	<tr>
		<td>...</td>
		<td>...</td>
	</tr>
	<tr>
		<td>...</td>
		<td>...</td>
	</tr>
</table> 
<h2>4. Борд</h2>
{% include image.html imagesrc="bord.png"%}
<table>
	<tr>
		<th>Цвят на борда</th>
		<th>Цена на метър </th>
	</tr>
	<tr>
		<td>...</td>
		<td>...</td>
	</tr>
	<tr>
		<td>...</td>
		<td>...</td>
	</tr>
</table>
